<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="Content-Script-Type" content="text/javascript"/>
		<meta http-equiv="Content-Style-Type" content="text/css"/>
		<title>SUSE Login</title>
		<link href="https://www.suse.com/min/?b=assets/css&f=bootstrap.css,helpers.css,jquery-ui.min.css,featherlight.min.css,featherlight.gallery.min.css,lightslider.css,main.css,iefix.css" media="screen" rel="stylesheet" title="Normal" type="text/css" />
		<link href="https://suse.com/favicon.ico" rel="shortcut icon" />
		<script type="text/javascript">
			document.getElementById('username').focus();
		</script>
		<style>
		html, body, main {
		  height: 100%;
		}
		.d-flex {
		  display: flex;
		}
		.flex-column {
		  flex-direction: column;
		}
		.mx-auto {
		  margin-right: auto;
		  margin-left: auto;
		}
		.ml-auto {
		  margin-left: auto;
		}
		.my-auto {
		  margin-top: auto;
		  margin-bottom: auto;
		}
		.key-stories .key-card {
		  float: none!important;
		}
		.align-items-center {
		  align-items: center;
		}
		</style>
	</head>
	<body class="d-flex flex-column theme-default">

		<nav class="top-banner p0" style="border-radius: 0">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" style="height: 8rem" href="https://www.suse.com">
						<img alt="SUSE" style="height: 100%" src="https://www.suse.com/assets/img/suse-white-logo-green.svg">
					</a>
				</div>
			</div>
		</nav>

		<!-- wrong credentials message -->
		<div id="flash-messages" class="container">
			<div id="error_message" @LOGININVALID@>
				<p class="alert alert-danger">
					The username/password combination you entered is invalid. Please try again, or recover it from
					<a href="https://idp-portal.suse.com/univention/self-service/#page=passwordreset">here</a>.
				</p>
			</div>
			<div id="access_denied_message" @ACCESSDENIED@>
				<p class="alert alert-warning">
					You are not allowed to access this service.
				</p>
			</div>
		</div>
		<main id="content" class="key-stories t-work">
			<form action="@ACTION@" method="post" class="container-fluid">
				<div class="row">
					<div class="key-card mx-auto">
						<div class="key-card2">
							<h3>Log in to your SUSE Community account</h3>
							<label for="username">Username</label>
							<input name="username" id="username" type="text" class="form-control" value="@USERNAME@">
							<label for="username">Password</label>
							<input name="password" id="password" type="password" class="form-control">
							<a href="https://idp-portal.suse.com/univention/self-service/#page=passwordreset">Recover my password</a>
							<p class="read-more pt5 d-flex align-items-center">
								<input name="url" value="@URL@" type="hidden" />
								<span class="ml-auto pr5"><a href="https://idp-portal.suse.com/univention/self-service/#page=createaccount">Sign Up</a> or </span>
								<input name="login" value="Log in" type="submit" class="c1-btn c1-btn--secondary">
							</p>
						</div>
					</div>
				</div>
			</form>
		</main>
		<footer class="t-work p5">
			<div id="footer-legal" class="container">
				<p class="text-center">&#169; 2020 SUSE. <span lang="en">All Rights Reserved.</span>
					<a lang="en" href="https://www.suse.com/contact/">Imprint.</a>
				</p>
			</div>
		</footer>
	</body>
</html>

